* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: white;
    color: black;
    padding: 14px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav,
section {
    display: flex;
    align-items: center;
    gap: 14px;
    font-family: sans-serif, Times 'Times New Roman', Times, serif;
}

.blacklink {
    color: black;
}

a {
    text-decoration: unset;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.headertext {
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
}

.searchbar {
    display: flex;
}